.history
debian/hamonikr-backup.debhelper
debian/.debhelper
debian/hamonikr-backup.debhelper.substvars
debian/hamonikr-backup.debhelper.debhelper.log
debian/hamonikr-backup.debhelper.substvars
debian/files
debian/hamonikr-backup/*